#about-section {
  min-height: 100vh;
  border: 1px solid maroon;
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.about-container{
    padding: 0 50px;
}

.titleskillssection h3 {
  font-size: 17px;
  font-weight: 400;
  /* color: rgb(44, 44, 44); */
}

.about-inner-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.skills-section{
  padding: 25px 50px;
  text-align: center;
}

.grid-three-col{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.img-txt {
  padding: 20px;
  text-align: center;
}

.taille-img {
  height: 60px;
  width: 60px;
}
