#about-section {
  /* min-height: 100vh; */
  /* border: 1px solid maroon; */
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding: 9% 4%;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: 4%;
}

.before-title{
  font-size: 0.85rem;
  opacity: 70%;
}

.titles-about h3{
  margin-top: -25px !important;
  font-size: 2.5rem;
  font-weight: 400;
}

.titles-skills h3{
  margin-top: -25px ;
  font-size: 1.5rem;
  font-weight: 300;
}

.title-s {
  margin-top: -40px;
}

.card{
  box-shadow: 0 1px 10px #4866ff5b;
  border-radius: 7px;
  margin-inline: 12px;
}

.card-stats {
  padding: 20px;
}

.card-skills{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding:25px 40px;
}

.about-container .ex-cl-pr{
  display: flex;
  justify-content: space-between;
}

.text-stat-1{
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(123, 123, 123, 0.962);
}

.about-container .edu-work{
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 30px;
}

.about-container .education-container{
  display: grid;
  gap: 5px;
}

.work  .education-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;

  padding-right: 4px;
}

.education .education-container {
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.4fr 0.7fr;
  
}

.work .education-container .certification{
  text-align: left;
  margin-left: 40px
}

.year{
  text-align: left;
  /* margin-left: 200px; */
}

.skillsSection {
  display: flex;
}

.titleskillssection h3 {
  font-size: 17px;
  font-weight: 400;
  /* color: rgb(44, 44, 44); */
}

.about-inner-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.about-inner-container-other{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills-section{
  padding: 25px 50px;
  text-align: center;
}

.grid-three-col{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px
}

.img-txt {
  padding: 20px;
  text-align: center;
}

.taille-img {
  height: 18px;
  width: 18px;

  margin-right: 10px;
}

.opacity{
  opacity: 0.6;
}

.title-left h3{
  text-align: center;
  margin-right: 70px;
  font-size: 1.5rem;
  font-weight: 300;
}

.work {
  font-size: 0.85rem;
  border-radius: 7px;
  padding: 0 0px 50px 50px;
  box-shadow: 0 1px 10px #4866ff5b;
}

.education {
  font-size: 0.85rem;
  border-radius: 7px;
  padding: 0 0px 50px 50px;
  box-shadow: 0 1px 10px #4866ff5b;
  /* height: max-content; */
}



/* MEDIA QUERIES */
@media (max-width: 1219px) {
  .about-container .edu-work {
    grid-template-columns: 1fr;
  }

  .title-left h3{
    text-align: center;
    margin-right: 70px;
  }
  
}

/* laptop */
@media (max-width: 1024px) {
  
}

@media (max-width: 992px) {
  .title-left h3{
    font-size: 1.4rem;
  }
  
}
  /* end laptop */



  /* Tablet */
 @media (max-width: 768px) {
  .App {
    width: 100%;
  }

  .title-left h3{
    font-size: 1.3rem;
  }
}




@media (max-width: 576px) {
  .App {
    width: 100%;
  }

  .work {
    font-size: 0.7rem;
    padding: 0 0px 30px 30px;
    box-shadow: 0 1px 10px #4866ff5b;
  }
  
  .education {
    font-size: 0.7rem;
    padding: 0 0px 30px 30px;
    box-shadow: 0 1px 10px #4866ff5b;
    /* height: max-content; */
  }
  
  #about-section {
    padding: 12% 4%;
  }

  .about-container .education-container{
    display: grid;
    /* grid-template-rows: 1fr 1fr ; */
    gap: 5px;
  }

  .card{
    margin-inline: 8px;
  }

  .card-stats {
    padding: 20px 17px;
  }

  .about-container .ex-cl-pr{
    font-size: 0.8rem;
  }
  
  .text-stat-1{
    font-size: 0.8rem;
  }
  
  .work  .education-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;

    padding-right: 4px;
  }
  
  /* .education .education-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.4fr 0.7fr; 
    
  } */
  
  .education-container .certification{
    text-align: left;
    margin-left: 40px
  }

  .title-left h3{
    font-size: 1.2rem;
  }

  /* SKILLS SECTION */
  .skillsSection {
    flex-direction: column;
    gap: 2rem;
  }
  /* END SKILL */
}

@media (max-width: 499px) {
  .App {
    width: 100%;
  }

  .work {
    padding: 0 0px 20px 10px;
  }
  
  .education {
    padding: 0 0px 20px 20px;
  }

  .about-container .education-container{
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }

  .card{
    margin-inline: 2px;
  }

  .card-stats {
    padding: 20px 15px;
    margin: 5px;
  }

  .about-container .ex-cl-pr{
    font-size: 0.8rem;
  }
  
  .text-stat-1{
    font-size: 0.8rem;
  }
  
  .work  .education-container {
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;

    padding: 5px;
  }

  .title-left h3{
    display: inline;
    font-size: 1.2rem;
  }
}