#about-section {
  /* min-height: 100vh; */
  /* border: 1px solid maroon; */
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin: 4% 8% 0 8% 
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.before-title{
  font-size: 0.85rem;
  opacity: 70%;
}

.titles-about h3{
  margin-top: -25px !important;
  font-size: 30px;
  font-weight: 400;
}

.about-container .ex-cl-pr{
  display: flex;
  justify-content: space-between;
}

.card{
  box-shadow: 0 0px 6px rgba(137, 137, 137, 0.349);
  border-radius: 7px;
  padding: 20px;
  margin-block: 0 20px;
  margin-inline: 20px;
}

.ex{
  font-size: 0.9rem;
}

.about-container .edu-work{
  margin-top: 4%;
  /* display: flex;
  justify-content: space-between;
  align-items: start; */
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 30px;
}

.about-container .education-container{
  display: grid;
  /* width: fit-content; */
  gap: 5px;
}

.work  .education-container .line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.education .education-container .line {
  display: grid;
  grid-template-columns: 0.4fr 0.8fr;
  
}

.education-container .certification{
  text-align: left;
  margin-left: 40px
}
.year{
  text-align: left;
  /* margin-left: 200px; */
}

.titleskillssection h3 {
  font-size: 17px;
  font-weight: 400;
  /* color: rgb(44, 44, 44); */
}

.about-inner-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.about-inner-container-other{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills-section{
  padding: 25px 50px;
  text-align: center;
}

.grid-three-col{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px
}

.img-txt {
  padding: 20px;
  text-align: center;
}

.taille-img {
  height: 18px;
  width: 18px;
}

.opacity{
  opacity: 0.6;
}

.title-left h3{
  text-align: center;
  margin-right: 70px;
  font-size: 30px;
  font-weight: 400;
}

.work {
  font-size: 0.85rem;
  border-radius: 7px;
  padding: 0 0px 50px 50px;
  box-shadow: 0 1px 12px rgba(137, 137, 137, 0.349)
}

.education {
  font-size: 0.85rem;
  border-radius: 7px;
  padding: 0 0px 50px 50px;
  box-shadow: 0 1px 12px rgba(137, 137, 137, 0.349);
  /* height: max-content; */
}

@media (max-width: 1219px) {
  .about-container .edu-work {
    grid-template-columns: 1fr;
  }

  .work {
    
    border-radius: 10px;
    padding: 0 0px 70px 85px;
    box-shadow: 0 1px 12px rgba(137, 137, 137, 0.349);

  }

  /* .work .title {
    text-align: center;
  } */
  .title-left h3{
    text-align: center;
    margin-right: 70px;
  }
  
  .education {
    border-radius: 10px;
    padding: 0px 0px 70px 70px;
    box-shadow: 0 1px 12px rgba(137, 137, 137, 0.349);
    height: max-content;
  }
}