#about-section {
  min-height: 100vh;
  border: 1px solid maroon;
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.about-container{
    padding: 0 50px;
}