html, body, body > div, .App {
  font-family: Poppins;
}

.App {
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start; */
  /* width: 100%; */
  overflow: hidden;
}

/* Thème sombre */
.dark-theme {
  background-color: 
 #0d1117;
  color: #ebebeb;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Thème clair */
.light-theme {
  background-color: #f5f5f5;
  color: #111;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* .App::before {
  position: fixed;
  content: "";
  height: 550px;
  width: 500px;
  border-radius: 50%;
  left: -10%;
  top: 60%;
  background: linear-gradient(45deg, #4866ff, #a2a2ff);
  animation: circle1 2s linear infinite;
}

.App::after {
  position: fixed;
  content: "";
  height: 275px;
  width: 250px;
  border-radius: 50%;
  left: 54%;
  top: 10%;
  background: linear-gradient(45deg, #4866ff, #a2a2ff);
  animation: circle2 2s linear infinite;
}




@keyframes circle1{
  50%{
    top: 61%;
    left: -11%;
  }
}

@keyframes circle2{
  50%{
    top: 11%;
    left: 53%;
  }
} */

