html, body, body > div, .App {
  height: 100%;
  font-family: Poppins;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

/* Thème sombre */
.dark-theme {
  background-color: #111;
  color: #f5f5f5;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Thème clair */
.light-theme {
  background-color: #f5f5f5;
  color: #111;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.App::before {
  z-index: 1;
  position: absolute;
  content: "";
  height: 550px;
  width: 500px;
  border-radius: 50%;
  left: -10%;
  top: 60%;
  background: linear-gradient(45deg, #4866ff, #a2a2ff);
  animation: circle1 2s linear infinite;
}

.App::after {
  z-index: 1;
  position: absolute;
  content: "";
  height: 275px;
  width: 250px;
  border-radius: 50%;
  left: 54%;
  top: 10%;
  background: linear-gradient(45deg, #4866ff, #a2a2ff);
  animation: circle2 2s linear infinite;
}

@keyframes circle1{
  50%{
    top: 61%;
    left: -11%;
  }
}

@keyframes circle2{
  50%{
    top: 11%;
    left: 53%;
  }
}

/* Media queries*/

/* afficher certains styles lors que la largeur de l'écran est
inférieure ou égale à 768*/
@media screen and (max-width: 768px) {

  .hambuger {
    display: flex;
    z-index: 10;
  }

  .nav-menu ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    
    flex-direction: column;
    
    /* definir la hauteur d'un elt cda premier plan ou arriere*/
    z-index: 9;

    width: 100%;
    height: 150vh;
    background-color: #0b185bfa;
    border-top: 1px solid rgb(20, 1, 188);

    /* avec les keyframe permet de gerer les animation avec une durée
    une certaine vitesse et un style*/
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-timing-function:ease-in-out;

  }

  .nav-menu li::after{
    display: none;
  } 

  @keyframes fade-in {
    from {
      
      opacity: 0;
    }
    to {
      
      opacity: 1;
    }
  }

  .nav-menu.expanded ul {
    display: block;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .nav-menu li a {
    color: #f5f5f5;
  
    width: 100%;
    padding: 1.0rem;
  }
  .nav-menu li:hover {
    background-color: #00000071;
  }
  
}