.App {
  font-family: 'poppins';
  display: flex;
  flex-direction: row;
  margin: 0;
}

.img {
  background-image: url(../assets/pexels-lenin-estrada-2569997.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px) brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

