.fade-in-contact {
  animation: fade-in-contact 1s ease-in forwards;
  border: 2px solid rgb(25, 0, 255);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8%;
  padding: 8% ;
}

@keyframes fade-in-contact {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-form {
  padding: 25px;
  background-color: #f3f3f3;
  border: 1px solid #4866ff;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.206);
}

.light-theme .contact a {
  color: #0a0a0a;
  font-weight: 500;
}

.dark-theme .contact a {
  color: #f5f5f5;
}

textarea,
.mail,
.phone,
.name {
  width: 96%;
  border: 1px solid rgba(0, 0, 0, 0.14)
  /* border: 1px solid #4866ff; */
}

.message {
  height: 100px;
}

textarea {
  
  height: 100px;
  border-radius: 3.5px;
  margin-bottom: 15px;
  font-family: Poppins;
  font-size: 12.5px;
  padding-left: 5px;
  resize: none;
}

.h1 {
  font-family: poppins "amole", "Amtyara Script";
  font-size: 1.6rem;
  text-align: center;
  font-weight: 300;
}

.h2 {
  font-family: poppins "amole" "Amtyara Script";
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
}

.social-media a {
  font-size: 0.7rem;
  text-decoration: none;
  text-align: center;
  animation: slide-up 1s ease-in-out;
  
}

@keyframes slide-up{
  from {
    top: 100%;
  }
  to {
    top: 57%;
  }
}

.light-theme .social-media a {
  color: #0a0a0a;
  
}

.dark-theme .social-media a {
  color: #f5f5f5;
}

a .svg {
  opacity: 1;
}

.svg:hover {
  opacity: 0.75;
  scale: 1.1;
}

.inner-contact{
  display: flex;
  text-align: center;
}
.container-text{
  display: flex;
  flex-direction: column;
  margin-right: px;
}

.container-form{
  width: 30rem;
  margin-left: 100px;
}

@media (max-width: 992px) {
  .fade-in-contact {
    padding: 0% 10% ;
  }

  .container-form{
    width: 27rem;
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .fade-in-contact {
    padding: 0% 12% ;
  }

  .inner-contact{
    flex-direction: column-reverse;
    text-align: center;
  }

  .container-form{
    width: 25rem;
    margin-left: 0px;
  }
}

@media (max-width: 576px) {

  .container-form{
    width: 23rem;
    margin-left: 0px;
  }
}