.home{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fade-in-home {
  animation: fade-in-contact 1s ease-in forwards;
  
}

.fadeIn-text {
  font-family: "Script MT";
  font-size: 3.17vw;
  opacity: 0;
  animation: fade-in 2s ease-in forwards;
}

.fadeIn-text2 {
  font-family: "Script MT";
  font-size: 2.375vw;
  opacity: 0;
  animation: fade-in 2s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    left: 0%;
  }
  to {
    opacity: 1;
    left: 20%;
  }
}

.fadeIn-text span {
  font-family: Poppins;
  font-size: 3.56vw;
  font-weight: 650;
}

.fadeIn-text2 span {
  font-family: Poppins;
  font-size: 2.375vw;
  font-weight: 650;
  color: #4866ff;
}

.wrapper {
  display: inline-flex;
  
}

.wrapper .dynamic-txts{
  
  margin-left: 0.92rem;
  height: 5.62rem;
  line-height: 5.62rem;
  
  overflow: hidden; 
}

@keyframes slide{
  100%{
    top: -358px;
  }
}


/* .dynamic-txts li span::after {
  content: "";
  height: 100%;
  width: 100%;
  border-left: 2px solid #4866ff;
  animation: typing 3s steps(20) infinite;
}

.dark-theme .dynamic-txts li span::after {
  background-color: #111;
  transition: background-color 0.5s ease-in-out;
}

.light-theme .dynamic-txts li span::after {
  background-color: #f5f5f5;
  transition: background-color 0.5s ease-in-out;
} */

@keyframes typing{
  100%{
    left: 100%;
    margin: 0 -30px 0 30px;
  }
}

.profile-img{
  width: 85%;
  border-radius: 45%;
  border: 1px solid #4866ff00;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.191);
}

.left {
  width: 55%;
  margin: 0 6.125%;
  /* margin-left: 150px; */
}

.right {
  width: 45%;
  /* margin-left: 100px; */
}

.resume {
  font-size: 1.27vw;
}

@media only screen and (max-width: 992px) {
  .home{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
    text-align: center;
    margin-top: 82px;
  }

  .left {
    margin: 50px 0 0 0 ;
  }

  .resume{
    font-size: 1.6vw;
  }

  .profile-img{
    width: 82%;
    margin-top: 50px;
  }
}

.social-media a {
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  animation: slide-up 1s ease-in-out;
}