.fadeIn-text {
  font-family: "Script MT";
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 20%;
  opacity: 0;
  animation: fade-in 3s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    left: 0%;
  }
  to {
    opacity: 1;
    left: 20%;
  }
}

.fadeIn-text span {
  font-family: Poppins;
  font-weight: 650;
  color: #4866ff;
  position: absolute;
  top: 150%;
  left: 5%;
}

.wrapper {
  position: absolute;
  top: 40%;
  left: 10%;
  display: inline-flex;
  
}

.wrapper .dynamic-txts{
  
  margin-left: 15px;
  position: relative;
  top: 60px;
  left: -40px;
  height: 90px;
  line-height: 90px;
  
  overflow: hidden; 
}

.dynamic-txts li{
  
  list-style: none;
  font-size: 50px;
  font-weight: bold;
  color: #4866ff;
  animation: slide 12s steps(4) infinite;
  position: relative;
  top: 0;
}

@keyframes slide{
  100%{
    top: -358px;
  }
}

.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  border-left: 2px solid #4866ff;
  animation: typing 3s steps(20) infinite;
}

@keyframes typing{
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

img {
  position: absolute;
  top: 25%;
  left: 60%;
  height: 500px;
  width: 350px;
  border-radius: 45%;
  border: 3px solid #4866ff;
}