.input-contact {
    margin-bottom: 35px;
}

input {
    font-display:initial;
    height: 40px;
    border-radius: 3.5px;
    border: none;
    font-family: Poppins;
    font-size: 12.5px;
    padding-left: 10px ;
}