.lateral-button {
  width:3px;
  height: 70px;
  margin-bottom: 40px;
  border-radius: 7px;
  
}

.nav-button {
  z-index: 3;
  display: block;
  width: auto;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 100%;
}

.dark-theme .lateral-button {
  background-color: #ffffff55;
  border-color: #f5f5f5;
}

.light-theme .lateral-button {
  background-color: #191919a4;
  border-color: #000000a4;
}

.light-theme .lateral-button:hover {
    background-color: #191919;
    border-color: #191919;
}

.dark-theme .lateral-button:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
