.nav-bar {
  height: 50px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #19191980;
  color: #f5f5f5;
  top: 0%;

}
.nav-bar a.active {
  color: #a2a2ff;
  font-weight: 500;
}

.logo {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto";
  margin-left: 25px;
  z-index: 3;
}

.nav-menu {
  margin-left: auto;
  
  
}

/*ajouter margin-left*/
.nav-menu ul {
  display: flex;
  padding: 40px;
}

.nav-menu li {
  list-style-type: none;
  margin-left: 15px;
  border-right: 0.5px solid #ccc;
  padding-right: 15px;
}

.nav-menu li:last-child {
  border-right: none;
}

/* .nav-menu li:not(:first-child) a::before {
  content: "|";
  padding-right: 15px;
} */

.nav-menu li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.0s ease-in-out;
  border-bottom: 3px #ffffff00 solid;
}

.nav-menu li a:after {
  content: '';
  display: block;
  position:absolute;
  bottom:15px;
  left: 50;
  width: 0px;
  height: 3px;
  background: #a2a2ff;
  transition: all 0.1s ease-in-out;
}

.nav-menu li a:hover {
  color: #a2a2ff;
} 

.nav-menu li a:hover:after {
  width: 26.5px;
}

.hambuger {
  border: 0;
  height: 30px;
  width: 30px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: #f5f5f5 0.2s ease-in-out;
  display: none;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  
}

.hambuger:hover {
  background-color: rgb(85, 85, 85);
  
}

/* afficher certains styles lors que la largeur de l'écran est
inférieure ou égale à 768*/
@media screen and (max-width: 768px) {

  .hambuger {
    display: flex;
    z-index: 3;
  }

  .nav-menu ul {
    display: none;
    position: absolute;
    top: -15px;
    left: 0;
    
    flex-direction: column;
    
    /* definir la hauteur d'un elt cda premier plan ou arriere*/
    z-index: 2;

    width: 100%;
    height: calc(100vh - 77px);
    background-color: #0b185bde;
    border-top: 1px solid rgb(20, 1, 188);

    /* avec les keyframe permet de gerer les animation avec une durée
    une certaine vitesse et un style*/
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-timing-function:ease-in-out;

  }

  .nav-menu li a:after {
    display: none;
  }

  @keyframes fade-in {

    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
    /* from {
      
      opacity: 0;
    }
    to {
      
      opacity: 1;
    } */
  }

  .nav-menu.expanded ul {
    display: block;
  }

  .nav-menu li {

    text-align: center;
    margin: 0;
  }
  .nav-menu li a {
    color: rgb(255, 255, 255);
  
    width: 100%;
    padding: 1.0rem 0;
  }
  .nav-menu li:hover {
    background-color: #19192071;
  }
  
}

