.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #19235af1 ;
  color: #f5f5f5;
  top: 0%;
  left: 0;
  position: fixed;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.374);
  z-index: 10;
}
.nav-bar a.active {
  color: #a2a2ff;
  font-weight: 500;
}

.logo {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto";
  margin-left: 25px;
  z-index: 10;
}

.nav-menu {
  margin-left: auto;
}

/*ajouter margin-left*/
.nav-menu ul {
  display: flex;
  padding: 40px;
}

.nav-menu li {
  list-style-type: none;
  margin-left: 40px;
}

.nav-menu li::after{
  content: "";
  border-right: 0.5px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 37.5%;
  height: 13px;
} 

.nav-menu li:last-child:after {
  border-right: none;
}

.nav-menu li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.0s ease-in-out;
  border-bottom: 3px #ffffff00 solid;
}

.nav-menu li a:after {
  content: '';
  display: block;
  position:absolute;
  bottom: 13px;
  width: 0px;
  height: 2.5px;
  background: #a2a2ff;
  transition: all 0.1s ease-in-out;
}

.nav-menu li a:hover {
  color: #a2a2ff;
} 

.nav-menu li a:hover:after {
  width: 26.5px;
}

.hambuger {
  border: 0;
  height: 30px;
  width: 30px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: #f5f5f5 0.2s ease-in-out;
  display: none;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  
}

.hambuger:hover {
  background-color: rgb(85, 85, 85);
  
}

nav span svg {
  position: absolute;
  top: 25%;
  left: 68%;
}

.svg-dark {
  position: absolute;
  fill: #7272ff;
  top: 32%;
  left: 68.5%;
}

.svg-light {
  fill: #f5f5f5;
}