.container {
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 5rem 0rem 0 0rem ; */
}

.item img {
    border-radius: 1.3rem;
    width: 100%; 
    height: 100%;
    pointer-events: none;
    align-self: center;
  }
  
  .item p {
    width: 100%; 
    height: 10%
  }
  
  .item {
    min-height: 25rem;
    min-width: 15rem;
    padding: 20px;
    padding-right: 30px;
    text-align: center;
    border-radius: 1.3rem;
    background-color: #4866ff2c;
    margin-right: 20px;
    box-shadow: 0px 2px 5px rgba(28, 28, 28, 0.084);
  }
  
  .item p a {
    text-decoration: none;
  }
  
  .item p a:hover {
    text-decoration: underline blue;
  }
  
  .inner-carousel {
    display: flex;
    width: 43rem;
  }
  
  .carousel {
    /* cursor: grab;*/
    padding: 10px;
    overflow: hidden;
    
    
  }
  
  p span.name {
    font-weight: 500;
    font-size: x-large;
  }
  
  span.description {
    font-weight: 400;
  }
  
  .title h3 {
    font-weight: 300;
    font-size: 35px;
  }

  

  