.container {
  animation: fade-in-contact 1s ease-in forwards;
  z-index: 2;
  align-items: center;
}

.item img {
    border-radius: 1.3rem;
    width: 100%; 
    height: 100%;
    pointer-events: none;
    align-self: center;
  }
  
  .item p {
    width: 100%; 
    height: 10%
  }
  
  .item {
    min-height: 25rem;
    min-width: 15rem;
    padding: 20px;
    padding-right: 30px;
    text-align: center;
    border-radius: 1.3rem;
    background-color: #4866ff2c;
    margin-right: 20px;
    box-shadow: 0px 2px 5px rgba(28, 28, 28, 0.084);
  }
  
  .item p a {
    text-decoration: none;
  }
  
  .item p a:hover {
    text-decoration: underline blue;
  }
  
  .inner-carousel {
    display: flex;
    width: 43rem;
  }
  
  .carousel {
    cursor: grab;
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 10px;
    overflow: hidden;
    
    
  }
  
  p span.name {
    font-weight: 500;
    font-size: x-large;
  }
  
  span.description {
    font-weight: 400;
  }
  .title {
    /* text-decoration: underline #f5f5f5; */
    position: absolute;
    top: -10%;
    left: 40%;
    z-index: 5;
  }

  .title h3 {
    font-weight: 500;
    font-size: 45px;
  }