.container {
  animation: fade-in-contact 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 8%; */
  padding: 8% 3% 0 3%;
  /* min-height: 100vh; */
  /* padding: 5rem 0rem 0 0rem ; */
}

.project-card img {
    width: 100%; 
    height: 180px;
    pointer-events:all;
    align-self: center;
    border-radius: 1.3rem 0;
  }

  /* .project-card img:hover {
    box-shadow: 0 0 6px rgb(161, 161, 161);
  } */
  /* .project-card p {
    width: 100%; 
    height: 10%
  } */
  
  .project-card {
    height: 250px;
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 1.3rem;
    background-color: #141c41;
  }

  .light-theme .project-card {
    background-color: #ffffff;
    /* margin-right: 20px; */
    box-shadow: 0px 2px 4px rgba(28, 28, 28, 0.084);
  }

  .light-theme .project-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.285);
  }

  .project-card:hover {
    box-shadow: 0 0 15px #ffffff22;
  }
  
  .project-card p a {
    text-decoration: none;
    color: #f5f5f5;
  }
  .light-theme .project-card p a {
    color: #111;
  }
  
  .project-card p a:hover {
    text-decoration: none;
  }
  
  .inner-carousel {
    display: flex;
    width: 43rem;
  }
  
  .carousel {
    /* cursor: grab;*/
    padding: 10px;
    overflow: hidden;
    
    
  }
  
  p span.name-project {
    font-weight: 500;
    font-size: x-large;
  }
  
  span.description {
    font-weight: 400;
  }
  
  .title h3 {
    font-weight: 300;
    font-size: 35px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }

@media (max-width: 992px) {
  .project-container {
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
  }
}

@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}

  

  