@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/amtyara-script');
@import url('https://fonts.cdnfonts.com/css/amole');


                

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  /* overflow: hidden; */
}


